.btnShuffle{
    padding: 20px 0 20px;
    font-size: 24px;
    font-family: 'LexingtonC';
    letter-spacing: 3px;
    
    text-transform: capitalize;
    text-align: center;
    outline: none;
    border: none;

    cursor: pointer;
    color: #17febd;
    text-shadow: 1px 1px 1px #000;

    width: 250px;
    background-color: #c2b6b6;
    background-image: linear-gradient(315deg, #3fcc7a 0%, #772cce 74%);
    box-shadow: 5px 5px 10px #000;
    transition: all 0.1s linear;
}

.btnShuffle:active{
    transform: scale(0.95);
    box-shadow: 1px 1px 0 #000;
}