.cell {
    position: absolute;
    top: 0;
    left: 0;
    height: 70px;
    width: 70px;
    background-color: greenyellow;
    font-size: 24px;
    font-family: 'LexingtonC';
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px solid teal;
    cursor: pointer;
    transition: all 0.3s ease;
    user-select: none;
}

.empty{
    opacity: 0;
    /* transition: none; */
}